/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
html { background-color: #333333; } 

/* Fonts */
/**
 * Usage
 * ----------------------------
 * font-family: 'FuturaEFCE';
   font-weight: 600;
   font-style: normal;
 * ----------------------------
 */
 @font-face {
    src: url('fonts/FuturaEFCE-DemiBold.woff2') format('woff2'),
    url('fonts/FuturaEFCE-DemiBold.woff') format('woff');
    font-family: 'FuturaEFCE';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
}
/* Creative */
.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #7160D4;
    border: 1px solid #000000;
}
/* Finastra Logo */
.logo-img img {
    position: absolute;
}
/* Frame 1 BG Image */
.f1-bg-img,
.f2-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.f1-copy1, .f1-copy2, .f2-copy {
    position: absolute;
    font-family: 'FuturaEFCE';
    font-weight: 600;
    font-style: normal;
}
.pixels img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
}
.icon-img img {
    position: absolute;
}
.cta {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'FuturaEFCE';
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}
.bg-hotspot {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}




